.game {
  width: 363px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.game-board {
  font-family: 'Kanit', sans-serif;
  width: 363px;
  height: 363px;
  border: 2px solid black;
}
.board-row {
  display: flex;
  flex-direction: row;
  height: 121px;
  margin: 0;
  padding: 0;
}
.board-square {
  width: 121px;
  border: 2px black solid;
  display: flex;
}
.XO {
  margin: auto;
  padding: 0;
  font-size: 80px;
  text-align: center;
}
.hidden {
  visibility: hidden;
}
.WinnerWinnerChickenDinner {
  height: 70px;
  margin: 15px;
}